[Unit]
Description=Intel PFR MCTP I3C Message Handler

[Service]
ExecStart=/usr/bin/pfr-mctpd -d /dev/i3c-mctp-target-0
Type=simple
RemainAfterExit=yes
SyslogIdentifier=pfr-mctp-i3c

[Install]
WantedBy=multi-user.target
